<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <link href="/asset/css/docIndex.css" rel="stylesheet" />
  <title>jslib-doc | Mirror Space</title>
</head>
<body>
  <div class="container">
    <div class="mainmenubox">
      <m-docmenu class="docmenu" id="main_menubox">
        <div class="docmenu-group">
          <span class="docmenu-title"><i class="docmenu-open"></i>About</span>
          <a class="docmenu-item" href="#about">关于</a>
          <a class="docmenu-item" href="#jslib">jslib</a>
        </div>
        <div class="docmenu-group">
          <span class="docmenu-title"><i class="docmenu-open"></i>dom操作</span>
          <a class="docmenu-item" href="#selectdom">选择器</a>
          <a class="docmenu-item" href="#find">find</a>
          <a class="docmenu-item" href="#filter">filter</a>
          <a class="docmenu-item" href="#eq">eq</a>
          <a class="docmenu-item" href="#index">index</a>
          <a class="docmenu-item" href="#siblings">siblings</a>
          <a class="docmenu-item" href="#next">next</a>
          <a class="docmenu-item" href="#nextAll">nextAll</a>
          <a class="docmenu-item" href="#prev">prev</a>
          <a class="docmenu-item" href="#prevAll">prevAll</a>
          <a class="docmenu-item" href="#parent">parent</a>
          <a class="docmenu-item" href="#prop">prop</a>
          <a class="docmenu-item" href="#hasProp">hasProp</a>
          <a class="docmenu-item" href="#val">val</a>
          <a class="docmenu-item" href="#removeProp">removeProp</a>
          <a class="docmenu-item" href="#addClass">addClass</a>
          <a class="docmenu-item" href="#removeClass">removeClass</a>
          <a class="docmenu-item" href="#hasClass">hasClass</a>
          <a class="docmenu-item" href="#text">text</a>
          <a class="docmenu-item" href="#html">html</a>
          <a class="docmenu-item" href="#append">append</a>
          <a class="docmenu-item" href="#prepend">prepend</a>
          <a class="docmenu-item" href="#before">before</a>
          <a class="docmenu-item" href="#after">after</a>
          <a class="docmenu-item" href="#remove">remove</a>
          <a class="docmenu-item" href="#empty">empty</a>
          <a class="docmenu-item" href="#fragment">fragment</a>
          <a class="docmenu-item" href="#loadhtml">loadhtml</a>
          <a class="docmenu-item" href="#event">event</a>
        </div>
        <div class="docmenu-group">
          <span class="docmenu-title"><i class="docmenu-open"></i>帮助函数</span>
          <a class="docmenu-item" href="#ajax">ajax</a>
          <a class="docmenu-item" href="#array">array</a>
          <a class="docmenu-item" href="#date">date</a>
          <a class="docmenu-item" href="#formcheck">formcheck</a>
          <a class="docmenu-item" href="#valid">valid</a>
          <a class="docmenu-item" href="#rand">rand</a>
          <a class="docmenu-item" href="#string">string</a>
          <a class="docmenu-item" href="#h5back">h5back</a>
        </div>
      </m-docmenu>
    </div>
    <div class="content">
      <div id="about">
        <h2>关于jslib</h2>
        <p><span class="pd-5">last update</span>:<span>2025/08/13</span></p>
        <p>在前端框架大发展前,jQuery库是最流行的js库,最强大的功能就是dom操作.还提供好多工具函数,不必使用复杂的原生js,使用jQuery简单多了.</p>
        <p>随着浏览器的进化,jQuery逐渐丢掉历史包袱,目前最新3.5版本不会再支持旧是浏览器,尤其是很老的IE.</p>
        <p>新浏览器支持的js函数可以比较方便的操作dom,这种方便和jQuery的便利相差无几了.前端框架使用绑定数据到dom的数据驱动模式,不再使用dom选择器.</p>
        <p>这两个情况让jQuery的使用热度降低了,不过jQuery的设计是非常值得学习的.做这个jslib库是为了学习jQuery.</p>
        <p>将模仿jQuery做一个dom操作的库,api名字和操作方式都与jQuery一样,但是没有实现所有的api.</p>
        <p>jslib实质上,外形是jQuery,内部实现用的新的js函数.例如:document.querySelectorAll()</p>
      </div>

      @*片段页路径实际上是Key,不能使用变量,否则会找不到页面*@
      @*Include("/doc/design_form.part.cshtml")*@
      @Include("/doc/jslib.part.cshtml")
      @Include("/doc/selectdom.part.cshtml")
      @Include("/doc/event.part.cshtml")
      @Include("/doc/ajax.part.cshtml")
      @Include("/doc/array.part.cshtml")
      @Include("/doc/date.part.cshtml")
      @Include("/doc/formcheck.part.cshtml")
      @Include("/doc/valid.part.cshtml")
      @Include("/doc/rand.part.cshtml")
      @Include("/doc/string.part.cshtml")
      @Include("/doc/h5back.part.cshtml")
    </div>
  </div>
  <script src="jslib.js"></script>
  <script src="/mirrorui/mirrorui.js"></script>
  <script>
    // 主菜单初始化
    $('#main_menubox')[0].create();
  </script>
</body>
</html>